**/.vscode
*.swp
*~

**/*.class
**/.bloop
**/.metals
**/metals.sbt
**/.bsp
**/.scalafmt.conf
**/.ammonite
**/.scala-build
.bsp/scala.json
.scala-build/

**/*.cache-main
**/.metadata
**/.classpath
**/.project

**/target

**/.idea

settings.json